@import url('../../styles/utility.css');
@import url('../../styles/navBar.css');
@import url('../../styles/sideBar.css');
@import url('../../styles/variable.css');
@import url('/Components/Alert/alert.css');
@import url('/Components/Avatar/avatar.css');
@import url('/Components/Badges/badges.css');
@import url('/Components/Button/button.css');
@import url('/Components/Card/card.css');
@import url('/Components/Image/image.css');
@import url('/Components/Input/input.css');
@import url('/Components/Modal/modal.css');
@import url('/Components/Rating/rating.css');
@import url('/Components/Toast/toast.css');
@import url('/Components/Navigation/navigation.css');