<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar Component</title>
    <link rel="stylesheet" href="avatar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/ocean.min.css">
</head>
<body>
    
   
    <div class="container">

        <!-- Navbar , we can add mor in ul at right navbar -->

        <nav>
            <div class="left_Nav">
                <a href="#">Meta</a>
                <span class="small-text">v1.0</span>
            </div>
            <ul class="right_Nav">
                <li><a class="active" href="#">Docs</a></li>   
            </ul>
            <ul class="right_Nav">
                <li><a class="active" href="#">Example</a></li>   
            </ul>
        </nav>



        <!-- Sidebar , list of all the component -->
        <div class="doc_Contianer">
            <div class="sidebar">


        <!-- Get Started List Start -->

                <div class="list_Topic">
                    <a href="../Avatar/avatar.html">Components</a>
                </div>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="../Avatar/avatar.html">
                        Avatar
                        </a>
                    </li>
                </ul>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Alert/alert.html">
                        Alert
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Badges/badges.html">
                        Badges
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Card/card.html">
                        Card
                         </a>
                    </li>                    
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Button/button.html">
                        Button
                         </a>
                    </li>
                 </ul>
            </div>
    </div>


    <div class="doc_Content">
        <div class="content_Title">
        Avatar
        </div>
        <div class="content_Subtitle">
        Avatars are user profile pictures, usually found in circular or sqaure shapes. Avatars can be used for 'container' objects e-commerce,social media, and many other apps — to give them personalize approach tom user.
        </div>
        <div class="divider"></div>

        <!-- PROFILE AVATAR -->

        <div class="content_Head">
        Profile Avatar
        </div>
        <div class="content_Subtitle">
        Profile Avatars can be created using the class 'avatar', inside the <code>img</code> tag.
        </div>
        <div class="example_Div">
            <img class="avatar" src="../../assests/Avatar0.jpg" alt="avatar0">
            <img class="avatar" src="../../assests/Avatar1.jpg" alt="avatar1">
            <img class="avatar" src="../../assests/Avatar5.jpg" alt="Avatar5">
            <img class="avatar" src="https://i.pravatar.cc/300" alt="Avatar using url" />
        </div>