<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Component</title>
    <link rel="stylesheet" href="input.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/ocean.min.css">
</head>
<body>
    
   
    <div class="container">

        <!-- Navbar , we can add mor in ul at right navbar -->

        <nav>
            <div class="left_Nav">
                <a href="#">Meta</a>
                <span class="small-text">v1.0</span>
            </div>
            <ul class="right_Nav">
                <li><a class="active" href="#">Docs</a></li>   
                <li><a class="active" href="#">Example</a></li>   
            </ul>
        </nav>



        <!-- Sidebar , list of all the component -->
        <div class="doc_Contianer">
            <div class="sidebar">


        <!-- Get Started List Start -->

                <div class="list_Topic">
                    <a href="../Avatar/avatar.html">Components</a>
                </div>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="../Avatar/avatar.html">
                        Avatar
                        </a>
                    </li>
                </ul>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Alert/alert.html">
                        Alert
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Badges/badges.html">
                        Badges
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Card/card.html">
                        Card
                         </a>
                    </li>                    
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Button/button.html">
                        Button
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Image/image.html">
                        Image
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Input/input.html">
                        Input
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Modal/modal.html">
                        Modal
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Rating/rating.html">
                        Ratting
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Toast/toast.html">
                        Toast
                         </a>
                    </li>
                 </ul>
            </div>
    </div>


    <div class="doc_Content">
        <div class="content_Title">
            Input
    </div>
        <div class="content_Subtitle">
            The input field can be specified using where a user can enter data.
            The input tag is used within form element to declare input controls that allow users to input data. An input field can be of various types depending upon the attribute type.
            The Input tag is an empty element which only contains attributes.
        </div>
        <div class="divider"></div>

    <!----label and input tag using input_Text--->
        <div class="content_Head">
            Text Box
        </div>
            <div class="content_Subtitle">
                This is a simple input field feild to enter text.
            </div>
            <div class="example_Div">
                    <label for="input">Name</label>
                    <input class="input" type="text" placeholder="Enter ur name?">                
            </div>

            <!---Code for Input tag'-->
            <div class="example_Code">
                <pre>
                    <code class="html">                  
                        &lt;label for="input"&gt;Name&lt;/label&gt;
                        &lt;input class="input" type="text" placeholder="Enter ur name?"&gt;
                    </code>
                </pre>
            </div>
            <div class="divider"></div>





            <!----Different Validation textbox with different classes --->
        <div class="content_Head">
            Validation
        </div>
            <div class="content_Subtitle">
                This is a multiple input feild that response with variety. 
                It has three types of validation response.
            </div>
            <div class="example_Div">
                <input class="input input_Success" type="text" placeholder="Validation Successful">  
                <input class="input input_Warn" type="text" placeholder="Validation Warning">  
                <input class="input input_Error" type="text" placeholder="Validation Error">                
            </div>

            <!---Code for input tag with different validation'-->
            <div class="example_Code">
                <pre>
                    <code class="html">                  
                        &lt;input class="input input_Success" type="text" placeholder="Validation Successful"&gt;
                        &lt;input class="input input_Warn" type="text" placeholder="Validation Warning"&gt;
                        &lt;input class="input input_Error" type="text" placeholder="Validation Error"&gt;
                    </code>
                </pre>
            </div>
            <div class="divider"></div>



