<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast Component</title>
    <link rel="stylesheet" href="toast.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/ocean.min.css">
</head>
<body>
    
   
    <div class="container">

        <!-- Navbar , we can add mor in ul at right navbar -->

        <nav>
            <div class="left_Nav">
                <a href="https://meta-library.netlify.app/">Meta</a>
                <span class="small_Text">Library</span>
            </div>
            <ul class="right_Nav">
                <li><a class="active" href="#">Docs</a></li>   
                <li><a class="active" href="#">Example</a></li>   
            </ul>
        </nav>



        <!-- Sidebar , list of all the component -->
        <div class="doc_Contianer">
            <div class="sidebar">


        <!-- Get Started List Start -->

                <div class="list_Topic">
                    <a href="../Avatar/avatar.html">Components</a>
                </div>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="../Avatar/avatar.html">
                        Avatar
                        </a>
                    </li>
                </ul>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Alert/alert.html">
                        Alert
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Badges/badges.html">
                        Badges
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Card/card.html">
                        Card
                         </a>
                    </li>                    
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Button/button.html">
                        Button
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Image/image.html">
                        Image
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Input/input.html">
                        Input
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Modal/modal.html">
                        Modal
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Rating/rating.html">
                        Rating
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Toast/toast.html">
                        Toast
                         </a>
                    </li>
                 </ul>
            </div>
    </div>


    <div class="doc_Content">
        <div class="content_Title">
            Toast
    </div>
        <div class="content_Subtitle">
            Toast display messages related to an interaction happened between user and the website.
            They usually stay on the screen for 2-3 seconds and then disappear.
            Toast can be used to show success messages, warnings or errors
           
        </div>
        <div class="divider"></div>

    <!----Notification Toast using toast class and other classes--->
        <div class="content_Head">
            Notification Toast
        </div>
            <div class="content_Subtitle">
                Toast can be used to show notifications to the user.
            </div>
            <div class="example_Div">
                <div class="toast">
                    <div class="toast-head">
                      Notification from Meta-Library
                      <button class="toast_Cross">
                        <i class="material-icons">close</i>
                      </button>
                    </div>
                  
                    <p class="toast_Msg">
                      Hey! How you doing??
                      <a class="toast_Link" href="https://meta-library.netlify.app/">
                        Meta-Library
                      </a>
                    </p>
                  </div>
            </div>

            <!---code for toast component-->
            <div class="example_Code">
                <pre>
                    <code class="html">                  
                        &lt;div class="toast"&gt;
                        &lt;div class="toast_head"&gt;
                              Notification from Meta-Library
                              &lt;button class="toast_Cross"&gt;
                                &lt;i class="material-icons"&gt;close&lt;/i&gt;
                              &lt;/button&gt;
                            &lt;/div&gt;
                          
                            &lt;p class="toast_Msg"&gt;
                              Hey! How you doing??
                              &lt;a class="toast_Link" href="https://meta-library.netlify.app/"&gt;
                                Meta-Library
                              &lt;/a&gt;
                            &lt;/p&gt;
                          &lt;/div&gt;
                    </code>
                </pre>
            </div>
            <div class="divider"></div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </body>
</html>