<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Component</title>
    <link rel="stylesheet" href="navigation.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/ocean.min.css">
</head>
<body>
    
   
    <div class="container">

        <!-- Navbar , we can add mor in ul at right navbar -->

        <nav>
            <div class="left_Nav">
                <a href="https://meta-library.netlify.app/">Meta</a>
                <span class="small_Text">Library</span>
            </div>
            <ul class="right_Nav">
                <li><a class="active" href="https://meta-library.netlify.app/components/avatar/avatar">Docs</a></li>   
                <li><a class="active" href="https://github.com/ckahub/MetaUI">Github</a></li>   
            </ul>
        </nav>



        <!-- Sidebar , list of all the component -->
        <div class="doc_Contianer">
            <div class="sidebar">


        <!-- Get Started List Start -->

                <div class="list_Topic">
                    <a href="../Avatar/avatar.html">Components</a>
                </div>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="../Avatar/avatar.html">
                        Avatar
                        </a>
                    </li>
                </ul>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Alert/alert.html">
                        Alert
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Badges/badges.html">
                        Badges
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Card/card.html">
                        Card
                         </a>
                    </li>                    
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Button/button.html">
                        Button
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Image/image.html">
                        Image
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Input/input.html">
                        Input
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Modal/modal.html">
                        Modal
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Rating/rating.html">
                        Rating
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Toast/toast.html">
                        Toast
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="../Navigation/navigation.html">
                        Navigation
                        </a>
                    </li>
                 </ul>
            </div>
    </div>

<!--Simple navigation using ---->
    <div class="doc_Content">
        <div class="content_Title">
            Navigation
        </div>
        
        <div class="content_Subtitle">
            Navigation can be used to give the user facility to navigate between different pages.           
        </div> 
        <div class="divider"></div>   
        <div class="content_Subtitle">
            Simple Navigation
        </div>
            <div class="example_Div">
                <nav class="navigation">
                    <div class="left_Brand">
                        <a href="#">Brand</a>
                        <span class="small_Text">1.0</span>
                    </div>
                    <ul class="right_Brand">
                        <li><a class="active" href="#">Home</a></li>   
                        <li><a class="active" href="#">Products</a></li>   
                    </ul>
                </nav>
            </div>
       

<!-------Code for simple navigation----------->       
        <div class="example_Code">
            <pre>
                <code class="html">
                    &lt;nav class="navigation"&gt;
                    &lt;div class="left_Brand"&gt;
                            &lt;a href="#"&gt;Brand&lt;/a&gt;
                            &lt;span class="small_Text"&gt;1.0&lt;/span&gt;
                        &lt;/div&gt;
                        &lt;ul class="right_Brand"&gt;
                            &lt;li&gt;&lt;a class="active" href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;   
                            &lt;li&gt;&lt;a class="active" href="#"&gt;Products&lt;/a&gt;&lt;/li&gt;   
                        &lt;/ul&gt;
                    &lt;/nav&gt;
                </code>
            </pre>
        </code>       
        <div class="divider"></div>
          
        <div class="content_Subtitle">
             Navigation with icons
         </div>
            <div class="example_Div">
                <nav class="navigation">
                    <div class="left_Brand">
                        <a href="#">Brand</a>
                        <span class="small_Text">1.0</span>
                    </div>
                    <ul class="right_Brand">
                        <li><a class="active" href="#">                           
                        </a></li>
                        <li><a class="active" href="#">
                            <span class="material-icons">shopping_cart</span>
                        </a></li>   
                        <li><a class="active" href="#">
                            <span class="material-icons">
                            favorite_border
                            </span>
                        </a></li>   
                    </ul>
                </nav>
            </div>

<!-------Code for navigation with icons----------->       
            <div class="example_Code">
                <pre>
                    <code class="html">
                        &lt;nav class="navigation"&gt;
                            &lt;div class="left_Brand"&gt;
                                &lt;a href="#"&gt;Brand&lt;/a&gt;
                                &lt;span class="small_Text"&gt;1.0&lt;/span&gt;
                            &lt;/div&gt;
                            &lt;ul class="right_Brand"&gt;
                                &lt;li&gt;&lt;a class="active" href="#"&gt;                           
                                &lt;/a&gt;&lt;/li&gt;
                                &lt;li&gt;&lt;a class="active" href="#"&gt;
                                    &lt;span class="material-icons"&gt;shopping_cart&lt;/span&gt;
                                &lt;/a&gt;&lt;/li&gt;   
                                &lt;li&gt;&lt;a class="active" href="#"&gt;
                                    &lt;span class="material-icons"&gt;
                                    favorite_border
                                    &lt;/span&gt;
                                &lt;/a&gt;&lt;/li&gt;   
                            &lt;/ul&gt;
                        &lt;/nav&gt;
                    &lt;/code&gt;
                &lt;/pre&gt;
            &lt;/div&gt;
        <div class="divider"></div>
    </div>
</body>
</html>

   