@import url('../../styles/utility.css');
@import url('../../styles/navBar.css');
@import url('../../styles/sideBar.css');
@import url('../../styles/variable.css');
.rating{
    margin: 0.5rem;
    font-size:1.5rem;
    direction: rtl;
    text-align: left;

}
.rating > span {
    display: inline-flex;
    position: relative;
    width: 1.2em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: var(--primary-color);
}