<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Component</title>
    <link rel="stylesheet" href="modal.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/ocean.min.css">
</head>
<body>
    
   
    <div class="container">

        <!-- Navbar , we can add mor in ul at right navbar -->

        <nav>
            <div class="left_Nav">
                <a href="#">Meta</a>
                <span class="small-text">v1.0</span>
            </div>
            <ul class="right_Nav">
                <li><a class="active" href="#">Docs</a></li>   
                <li><a class="active" href="#">Example</a></li>   
            </ul>
        </nav>



        <!-- Sidebar , list of all the component -->
        <div class="doc_Contianer">
            <div class="sidebar">


        <!-- Get Started List Start -->

                <div class="list_Topic">
                    <a href="../Avatar/avatar.html">Components</a>
                </div>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="../Avatar/avatar.html">
                        Avatar
                        </a>
                    </li>
                </ul>
                <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Alert/alert.html">
                        Alert
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Badges/badges.html">
                        Badges
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Card/card.html">
                        Card
                         </a>
                    </li>                    
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Button/button.html">
                        Button
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Image/image.html">
                        Image
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Input/input.html">
                        Input
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Modal/modal.html">
                        Modal
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Rating/rating.html">
                        Ratting
                         </a>
                    </li>
                 </ul>
                 <ul class="sub_Topic">
                    <li> 
                        <a class="active" href="/Components/Toast/toast.html">
                        Toast
                         </a>
                    </li>
                 </ul>
            </div>
    </div>


    <div class="doc_Content">
        <div class="content_Title">
            Modal
        </div>
        <div class="content_Subtitle">
            A modal is a dialog box/popup window that is displayed on top of the current page: Open Modal.           
        </div> 
        <div class="divider"></div>   
        <div class="content_Subtitle">
            Live Demo
        </div>
            <div class="example_Div">
                <button class="btn">Open Modal</button>
                <div class="modal">
                    <div class="modal_Content">
                        <p>This is a simple Modal..</p>
                        <span class="close material-icons">close</span>
                    </div>
            </div>

        <!---Modal class is created using class modal and javascript file---->


            <div class="example_Code">
                <pre>
                    <code class="html">
                <!-- code for modal using classes modal and btn -->
                &lt;button class="btn"&gt;Open Modal&lt;/button&gt;
                &lt;div class="modal"&gt;
                    &lt;div class="modal_Content"&gt;
                        &lt;p&gt;This is a simple Modal.&lt;/p&gt;
                        &lt;span class="close material-icons"&gt;close&lt;/span&gt;
                    &lt;/div&gt;
            <div class="divider"></div>


            <script src="modal.js"></script>
        </div>
    </body>
</html>
            