<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alert Component</title>
        <link rel="stylesheet" href="./alert.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/ocean.min.css">
</head>
<body>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <div class="container">
        <!-- Navbar , we can add mor in ul at right navbar -->

        <nav>
            <div class="left_Nav">
                <a href="#">Meta </a>
                <span class="small_Text">v1.0</span>
            </div>

            <ul class="right_Nav">
                <li><a href="../../Components/avtar.html">Docs</a></li>
                <li><a href="#">Use-case</li>
          </ul>
        </nav>


        <!-- Sidebar , list of all the component -->
        <div class="doc_Container">
            <div class="sidebar">
                <div class="list_Topic">
                    <a href="../../Components/Avatar/avatar.html">Components</a>
                </div>
                <ul class="sub_Topic">
                    <li>
                        <a class="active" href="../../Components/Avatar/avatar.html">
                            Avatar
                        </a>   
                    </li>
                    <li>
                        <a class="active" href="./alert.html">
                            Alert
                        </a>   
                    </li>
                </ul>
            </div>
        </div>


        <!---Alert Component--->

        <div class="doc_Content">
            <div class="content_Title">
                Alert
            </div>
            <div class="content_Subtitle">
            An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.
            </div>
        </div>


    </div>
    
</body>
</html>