body{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    margin:0;
}
nav{
    background-color: var(--default-color);
    margin: 0;
    padding: 1rem 1rem 0rem 0rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: strech;
    box-shadow: 0rem 0.75rem 1rem #20a7e6be;
}
.left_Nav{
    font-size:2rem;
    font-weight: 900;
}
.left_Nav a:hover{
    color: var(--active-color);
}
.left_Nav a{
    color : aliceblue;
    text-decoration: none;
}
.small_Text{
    color :var(--active-color);
    font-size: .8rem;
    font-weight: 400;
}
.right_Nav{
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: none;

}
.right_Nav li{
    margin:  1rem;
    list-style: none;
}
.right_Nav a{
    font-weight: 800;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
   
}
.right_Nav a:hover{
    color: var(--active-color);
}
