@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    font-family: 'Supermercado One', cursive;
}


.container{
    width: 80%;
    min-height: 100vh;
    height: max-content;
    margin: auto;
}

nav{
    padding: 2.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: strech;
}

.left-nav{
    font-size: 1.2rem;
    font-weight: 900;
}

.left-nav a{
    color : rgb(48, 46, 46);
    text-decoration: none;
}

.small-text{
    color :rgb(90, 90, 90);
    font-size: .8rem;
    font-weight: 400;
}

.right-nav{
    display: flex;
   margin-left: auto;
    justify-content: space-evenly;

}

.right-nav li{
    margin:  1rem;
    list-style: none;
    flex-direction: row-reverse;
}

.right-nav a{
    font-weight: 800;
    color: rgb(90, 90, 90);
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
   
}

.right-nav a:hover{
    color: rgb(58, 218, 247);
}

