body{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    font-family: sans-serif;
}
.container{
    width: 80%;
    min-height: 100vh;
    height: max-content;
    margin:0 4rem 0 4rem;
}
nav{
    padding: 2.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: strech;
    font-family: 'Supermercado One', cursive;
}
.left_Nav{
    font-size:2rem;
    font-weight: 900;
}
.left_Nav a{
    color : rgb(48, 46, 46);
    text-decoration: none;
}
.small_Text{
    color :black;
    font-size: .8rem;
    font-weight: 400;
}
.right_Nav{
    display: flex;
   margin-left: auto;
    justify-content: space-evenly;
    align-items: none;

}
.right_Nav li{
    margin:  1rem;
    list-style: none;
}
.right_Nav a{
    font-weight: 800;
    color: rgb(90, 90, 90);
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
   
}
.right_Nav a:hover{
    color: cornflowerblue;
}
