@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');



.sidebar{
    font-family: 'Supermercado One', cursive;
    position:absolute;
    width: 20%;
    height: 100%;
    background-color: #f0f8ff;
}

.list_Topic{
    padding: 1rem;
    font-weight: 500;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    width: fit-content;
}

.sub_Topic li{
    font-size: 1rem;
    list-style: none;   
    transition: all .3s ease-in-out;
    padding: 0.75rem;
    font-weight: 400;
}
.sub_Topic li a:hover{
    cursor: pointer;
    color: var(--active-color);
}
.sub_Topic a{
    display: flex;
    align-items: center;
    color :var(--default-color);
    text-decoration: none;
    transition: all .3s ease-in-out;
}
