
body{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    font-family:'Times New Roman', Times, serif
    
}


.doc_Container{
    font-family: sans-serif;
    width:100%;
    margin: 3rem auto 0;
    display: flex;
    padding: 0 1rem;
}

.doc_Content{
    min-width: 0;
    margin: 0% 0% 0% 30% ;
    max-width: 800px;
    flex:1 1 0%;
    font-family:sans-serif;

}

.content_Title{
    font-family:Arial, Helvetica, sans-serif;
    color:cornflowerblue;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.content_Subtitle{
    font-family:sans-serif;
    line-height: 25px;
    color :black;   
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;
}


.content_Subtitle a{
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.content_Subtitle a:hover{
     color : var(--primary-hover);
}

.content_Head{
    font-family:Arial, Helvetica, sans-serif;
    color : cornflowerblue;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}


.example_Div{
    box-shadow: rgba(82, 92, 107, 0.02) 0px 1px 3px 0px, rgba(19, 93, 167, 0.15) 0px 0px 0px 1px;
    border-radius: 0.4rem;
    background-color: aliceblue;
    min-height:fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem ;
    flex-wrap: wrap;
}

.divider{
    width: 100%;
    height: 1px;
    margin-bottom: 2rem;
    background-color: #a6a8bdf3;
}

.highlighted{
    text-decoration-color: blue;
}

