/*  color used in component library  */
 @import url('../../styles/utility.css');
@import url('../../styles/navBar.css');
@import url('../../styles/sideBar.css');
@import url('../../styles/variable.css');
@import url('../Avatar/avatar.css'); 
                
:root{              

    --primary-color : #327ddf8e;
    --default-color : #172b4df3;
    --secondary-color : #f3f4f6d3;
    --danger-color : #f4433694;
    --success-color :#4caf4f9d;
    --warning-color : #ff9900a4;
    --active-color : #1ea8fdee;
    --off-white : #F6F9FC;
    --dnd-color :#686767ea;

    --primary-hover : #4F46E5;
    --secondary-hover: #E5E7EB;
    --danger-hover : #d31609 ;
    --success-hover: #0d8611;
    --active-hover : #058ce0;
}
